{% load static %}

<div class="post-collection">
    <div>
      <img src="{%static 'app/images/nature.jpeg' %}" alt="nature">
                <h4> Nature at its best</h4>
                <p> Nature is amazing!The amounts of inspiration and I get when walking in nature is incredible!</p>  
    </div>
    <div>
        <img src="{%static 'app/images/mountain.jpg' %}" alt="moutain">
                <h4> Mountain Hiking</h4>
                <p> Nature is amazing!The amounts of inspiration and I get when walking in nature is incredible!</p>

    </div>
    <div>
        <img src="{%static 'app/images/code.jpeg' %}" alt="code">
                <h4> Programming is great!</h4>
                <p> Nature is amazing!The amounts of inspiration and I get when walking in nature is incredible!</p>
    </div>
</div>
