{% extends 'base.html' %}
{% load static %}
{% block content%}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/post-preview.css' %}">

    {% endblock %}

    <div class="nav-block-extension">
        <!-- box that orangizes the different flex elements -->
        <div class="flex-box">
            <!-- top box -->
            <div class="top-flex-box">
                <!-- top right box -->
                
                
                <img id="profile-photo"src="{%static 'app/images/priestest-headshot.jpg'%}" alt="">

                <!-- top left box -->
                <h1 >Jewel's blog</h1>

            </div>
            <!-- bottom box -->
            <div class="bottom-flex-box">
                <p> Hi I am Jewel and love to blog about what I learn in tech!</p>
            </div>
        </div>
    </div>
    <div class="post-cards">
        <h1 id="title"> My latest thoughts</h1>

        <div class="latest-post-view">
            <ul>
                {% for post in posts %}
                    {% include "app\include\post.html" %}
                {% endfor %}
            </ul>
        </div>

    </div>
    <!-- <div id="footer">
        <p>hello there</p>

    </div> -->

{% endblock %}
