{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'app/css/p_interface.css' %}">

{% endblock %}

{% block content %}

    <div class="card-1">
        <h1>{{posts.title}}</h1>
        <div>
            <img src="{% static 'app/images/'|add:posts.image  %}" alt="nature">
            <h5>{{posts.author}}</h5>
            <p>{{posts.date|date:"d M Y"}}</p>
        </div>
    </div>

    <div class="card-2">
        <p>{{posts.content}}</p>
        


    </div>
{% endblock %}
