{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'app/css/p_interface.css' %}">

{% endblock %}

{% block content %}

    <div class="card-1">
        <h1>{{title}}</h1>
        <div>
            <img src="{% static image_url %}" alt="nature">
            <h5>{{author}}</h5>
            <p>{{last_updated_date}}</p>
        </div>
    </div>

    <div class="card-2">
        <p>{{blog_content}}</p>
        <p>{{blog_content}}</p>
        <p>{{blog_content}}</p>


    </div>
{% endblock %}
