h3{
    text-align: center;
    margin: 30px;
    font-size: 18pt;
    font-family: 'Ariel', sans-serif;
    font-weight: lighter;



    
}
body{
    background-color: #e7e7e7;

}

.post-collection{
    display: flex;
    margin-top: 2rem;
    width: 950px;
    margin-left: 190px;
    height: 380px;
    justify-content: space-between;
}

.post-collection img{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin-left: 7rem;
    margin-top: 20px;

}


.post-collection h4{
    margin-top: 4px;
    text-align: center;
    font-family: 'Verdana', sans-serif;

}


.post-collection p{
    margin-top: 15px;
    padding-left: 10px ;
    padding-right:10px ;
    text-align: center;
    font-family: 'Ariel', sans-serif;
    font-size: 11pt;

}

.post-collection ul{
 }